@media screen and (max-width: 931px) {
    .content-container {
        margin: 96px 12px;
        display: block;
    }
    .ocean-content{
        margin-right : 0;
    }
    .mountains-content {
        margin-right : 0;
        margin-top: 102px;
    }

    .forest-content {
        margin-top: 102px;

    }

    .dark-container {
        width: 100%;
        height: 100px;
    }

    .light-container {
        height: 100px;
        width: 100%
    }

    .w-100 {
        width: 100%;
    }

    .image {
        width: 100%;
        height: 250px;
    }
    .container{
        height: 250px;

    }
    .image-content {
        font-size: 40px;
    }

    .f-36>* {
        font-size: 28px;
    }

    .content {
        font-size: 24px;
    }

    .ipad-button {
        font-size: 24px;
    }

    .ipad-cost {
        padding: 16px;
        border-radius: 50%;
    }

    .cost {
        font-size: 32px;
        margin-top: 18px;
    }

    .pertour {
        font-size: 24px;
    }

}

@media screen and (max-width: 1366px) and (min-width: 933px) {
    .content-container {
        margin: 102px 8px;
        flex-wrap: wrap;
    }
    .ocean-content {
        margin-right : 8px;
        flex : 48%
    }
    .mountains-content {
        margin-right : 8px;
        margin-top: 102px;
        flex: 48%;
        margin-top : 0;
        margin-right: 0;
    }
    
    

    .forest-content {
        margin-top: 102px;
        flex: 100%;
    }

    .dark-container {
        width: 100%;
        height: 100px;
    }

    .light-container {
        height: 100px;
        width: 100%
    }

    .w-100 {
        width: 100%;
    }

    .image {
        width: 100%;
        height: 250px;
    }
    .container{
        height: 250px;

    }

    .image-content {
        font-size: 40px;
    }

    .f-36>* {
        font-size: 28px;
    }

    .content {
        font-size: 24px;
    }

    .buy-button {
        font-size: 24px;
        padding: 24px 36px;
        width : 250px;
    }
    .buy-button.forest-button {
        width : 300px;

    }
    .ipad-cost {
        padding: 16px;
        border-radius: 50%;
    }

    .cost {
        font-size: 32px;
        margin-top: 18px;
    }

    .pertour {
        font-size: 24px;
    }
}